@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 80px;
    font-weight: normal;
    background: var(--color-bg);
    height: 100vh;
    @media (max-width: 768px) {
        padding: 32px 16px ;
    }
}

a {
    text-decoration: none;
}